body {
	margin: 0;

	background-color: rgb(244,248,212);
}

div#allcontent {
	/*让整个页面居中*/
	margin: 0 auto;
	width: 1600px;

}

#main_div {
	margin: 100px 0 0 0; /*和footer的top margin重合，所以还是200px的margin*/
}

/*form 元素是块级元素，其前后会产生折行。*/
#form_register {
	margin: 0 auto;
	width: 600px;

	display: table;
}

div.form_div_row {
	display: table-row;
}

.img_hint {
	vertical-align: text-bottom;
	visibility: hidden;
	/*display: table-cell;  ie chrome都会认为是block*/
	display: inline-block;
}

.img_hint:after {
	display: inline-block;
	width: 200px;
}

.form_div_take_place {
	display: table-cell;
}

.form_div_hint_info_row {
	display: table-row;
	height: 20px;  /*需要足够高*/
	font-size: 10px;
	width: 300px;
	text-align: left;
}

.p_hint_info {
	display: table-cell;
	color: red;
	visibility: hidden;
}


div.form_last_row {
	display: table-row;
}

label.label_describe {
	display: table-cell;
	width: 180px;  /*这样才能让textbox右边可能出现的img不会影响到其他table-cell的位置*/
	text-align: right;
}


.form_right_choice {
	width: 180px;
	/*display: table-cell; ie 会变形*/
}

p.p_table_cell{
	text-align: center;
	display: table-cell;
}

header {
	background-image: url(../login_header.png);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	padding: 0;
	font-size: 0;
}

header:after {
	content: '';
	width: 0;
	height: 200px;
	display: inline-block;
}

footer {
	display: table;
	margin: 50px 0 0 0;
	border-top: 2px solid gray;
	width: 100%;
	text-align: center; /*放到span里面也可以达到同样的效果*/
}

#div_tbl_cell {
	display: table-cell;
	height: 200px;
	/*该属性定义行内元素的基线相对于该元素所在行的基线的垂直对齐。
	允许指定负长度值和百分比值。这会使元素降低而不是升高。
	在表单元格中，这个属性会设置单元格框中的单元格内容的对齐方式。*/
	vertical-align: middle;
} 